<div class="container">
  <div
    id="map"
    leaflet
    [leafletOptions]="mapOptions"
    (leafletMapReady)="onMapReady($event)"
  ></div>
  <div class="controls">
    <p>Toggle shelter types:</p>
    <label for="school">Schools</label>
    <input
      name="school"
      type="checkbox"
      (change)="toggleShelterType('school', $event)"
    />
    <label for="place_of_worship">Places of worship</label>
    <input
      name="place_of_worship"
      type="checkbox"
      (change)="toggleShelterType('place_of_worship', $event)"
    />
    <label for="hospital">Hospitals</label>
    <input
      name="hospital"
      type="checkbox"
      (change)="toggleShelterType('hospital', $event)"
    />
  </div>
</div>
<div *ngIf="showComparison" class="container">
  <button class="close" (click)="closeComparison()">
    <img src="../assets/close.svg" />
  </button>
  <div class="inner-container">
    <p>Date: 12th of October 2023</p>
    <img class="image" src="../assets/image1.png" />
    <p>Date: 1st of November 2023</p>
    <img class="image last" src="../assets/image2.png" />
  </div>
  <div class="inner-container">
    <p>Before and after images from a higher resolution satellite</p>
    <img class="image" src="../assets/maxar-1.jpg" />
    <p></p>
    <img class="image" src="../assets/maxar-2.jpg" />
  </div>
</div>
