<div
  id="map"
  leaflet
  [leafletOptions]="options"
  (leafletMapReady)="onMapReady($event)"
></div>
<div class="controls">
  <p>Toggle shelter types:</p>
  <label for="school">Schools</label>
  <input
    name="school"
    type="checkbox"
    [checked]="true"
    (change)="toggleShelterType('school', $event)"
  />
  <label for="place_of_worship">Places of worship</label>
  <input
    name="place_of_worship"
    type="checkbox"
    [checked]="true"
    (change)="toggleShelterType('place_of_worship', $event)"
  />
  <label for="hospital">Hospitals</label>
  <input
    name="hospital"
    type="checkbox"
    [checked]="true"
    (change)="toggleShelterType('hospital', $event)"
  />
</div>
